.invoice-view-container{
  width: 375px;
  margin: auto;
  padding: 0 24px;
  background-color: var(--Background);
}

.btn-pers{
  background: none;
	color: inherit;
	border: none;
  margin: 16px 0;
	cursor: pointer;
	outline: inherit;

  span{
    color: #7C5DFA;
    margin-right: 24px;
  }
}

.status-container{
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 91px;
  width: 100%;
  padding: 0 24px;
  border-radius: 8px;
  background-color: var(--Element);
}

.invoice-body{
  min-height: 675px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 8px;
  margin-top: 16px;
  padding:24px;
  background-color: var(--Element);
}

.invoice-middle{
  display: flex;
  justify-content: flex-start;
  align-items: stretch;
}

.invoice-middle-left{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-right: 41px;
  p{
    margin-bottom: 12px;
  }
}

.invoice-middle-right{
  h3{
    margin: 12px 0 8px 0;
  }
}

.invoice-body-note{
  display: flex;
  flex-direction: column;
}

.invoice-body-note-header{
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  padding: 24px 24px 0 24px;
  background-color: var(--Note-2);
}

.invoice-note-detail{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 24px;
  h4{
    margin-top: 8px;
  }
}

.invoice-body-note-footer{
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  padding: 24px;
  background-color: var(--Note);
}

.btn-container-2{
  background-color: var(--Element);
  position: static;
  margin-top: 56px;
  bottom: 0;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 90px;
}