.invoice{
  margin-bottom: 4px;
}

.invoice-container{
  margin: 32px 24px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.btn-container{
  display: flex;
  align-items: center;

  select{
    margin-right: 18px;
  }
}

.svg-container{
  height: 32px;
  width: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  border-radius: 50%;
  
}