.invoicecard-container{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 134px;
  width: 327px;
  border-radius: 8px;
  background-color: var(--Element);
  margin: 0 24px 16px 24px;
  padding: 24px;
  box-shadow: 0px 10px 10px -10px rgba(72, 84, 159, 0.100397);

  &:hover{
    border: 1px solid #7C5DFA;
    cursor: pointer;
  }
}

.card-header{
  display: flex;
  justify-content: space-between;
} 

.span-id{
  color: var(--Textcolor-1);
}

.card-body{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.date{
  margin-bottom: 8px;
}

.status{
  border-radius: 6px;
  width: 104px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  
}

.status-point{
  height: 8px;
  width: 8px;
  border-radius: 50%;
  margin-right: 8px;
}

.paid{
  color:#33D69F;
  background-color:rgba(51, 214, 159, 0.057) ;
}

.paid-point{
  background-color: #33D69F;
}

.pending{
  color:#FF8F00;
  background-color:rgba(255, 143, 0, 0.057);
}

.pending-point{
  background-color: #FF8F00;
}

.draft{
  color: var(--Textcolor-4);
  background-color: rgba(55, 59, 83, 0.057);
  ;
}

.draft-point{
  background-color: var(--Textcolor-4);
}