nav{
  background-color: var(--Navbar);
  display: flex;
  justify-content: space-between;
  height: 72px;
}

.nav-logo{
  width: 72px;
  height: 72px;
  background-color: #9277FF;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.nav-toggle{
  display: flex;
  align-items: center;
}

.toggle-container{
  .toggle-moon svg{
    margin: 24px;
    fill: #7E88C3;
  }
  .toggle-sun svg{
    margin: 24px;
    fill: #858BB2;
  }
  &:hover{
    cursor: pointer;
    .toggle-moon svg{
      fill: #DFE3FA;
    }
    .toggle-sun svg{
      fill: #DFE3FA;
    }
  }
}

.img-container{
  width: 72px;
  height: 72px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-left: 1px solid #494E6E;
  img{
    width: 32px;
    height: 32px;
    border-radius: 50%;
  }
}