@import url('https://fonts.googleapis.com/css2?family=Spartan:wght@500;700&display=swap');

$breakpoints: (
    "phone": 375px,
    "tablet": 768px,
    "desktop": 1440px,
);

@mixin media-min($_key) {
  @media screen and (min-width: map-get($breakpoints,$_key)) {
    &{ @content; }
  }
}

$font: 'Spartan', sans-serif;
$medium: 500;
$bold: 700;

*, ::after, ::before {
  margin: 0;
  padding: 0;
  text-decoration: none;
  box-sizing: border-box;
  list-style: none;
  font-family: $font;
  color: var(--Textcolor-1);
}


h1{
  font-weight: $bold;
  font-size: 20px;
  line-height: 22px;
  @include media-min("tablet"){
    font-size: 32px;
    line-height: 36px;
  }

}

h2{
  font-weight: $bold;
  font-size: 20px;
  line-height: 22px;
}

h3{
  font-weight: $bold;
  font-size: 16px;
  line-height: 24px;
}

h4{
  color: var(--Textcolor-2);
  font-weight: $bold;
  font-size: 12px;
  line-height: 15px;
}

.body-1{
  font-weight: $medium;
  color: var(--Textcolor-2);
  font-size: 12px;
  line-height: 15px;
}

.body-2{
  font-weight: $medium;
  font-size: 11px;
  line-height: 18px;
}

button{
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  border-radius: 24px;
  height: 44px;
  font-weight: $bold;
  font-size: 12px;
  line-height: 15px;
  cursor: pointer;
  
  @include media-min("tablet"){
    height: 48px;
  }

  @include media-min("desktop"){
    height: 48px;
  }
}

.btn-invoice{
  justify-content: space-evenly;
  width: 90px;
  background-color: var(--Btn-default);
  color: var(--Textcolor-3);
  &:hover{
    background-color:var(--Btn-default-hover) ;
    color: var(--Textcolor-3);
  }
}
.btn-paid{
  width: 149px;
  background-color: var(--Btn-default);
  color: var(--Textcolor-3);
  &:hover{
    background-color:var(--Btn-default-hover) ;
    color: var(--Textcolor-3);
  }
}
.btn-edit{
  width: 73px;
  background-color: var(--Btn-edit);
  color: var(--Textcolor-3);
  &:hover{
    background-color:var(--Btn-edit-hover) ;
    color: var(--Textcolor-3);
  }
}
.btn-draft{
  width: 117px;
  background-color: var(--Btn-draft);
  color: var(--Textcolor-3);
  &:hover{
    background-color:var(--Btn-draft-hover) ;
    color: var(--Textcolor-3);
  }
}
.btn-delete{
  width: 89px;
  background-color: var(--Btn-delete);
  color: var(--Textcolor-3);
  &:hover{
    background-color:var(--Btn-delete-hover) ;
    color: var(--Textcolor-3);
  }
}
.btn-item{
  width: 327px;
  background-color: var(--Btn-item);
  color: var(--Textcolor-3);
  &:hover{
    background-color:var(--Btn-item-hover) ;
    color: var(--Textcolor-3);
  }
}